<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.HousePageBean">

	<resultMap type="housepagebean" id="housepagebean"> 		
		<result column="dong" property="dong" /> 
		<result column="aptName" property="aptName" /> 
		<result column="pageNo" property="pageNo" /> 
		<result column="totalCount" property="totalCount" /> 
	</resultMap>
</mapper>